h1{
	color: white; font-size: 30px; font-family: Arial;
}
p{
	font-family: Arial; color: white;
}
.lingid{
	color: #443B7D; font-size: 16px; font-family: Comic Sans MS;
}
body{
	background-image: url("peataust.jpg");
}